<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/clear.css">
    <link rel="stylesheet" href="../css/buy.css">
    
</head>
<body>
    QaQinclude('./public-head.html')



    <div class="center ">
        <div class="look-look">
          
        </div>
        <div class="big__img_box big_mum">
         
        </div>
    
            <div class="message">
                    <div class="mes-title">
                        <!-- <h2>香影</h2>
                        <span>【2020夏装新款】v领连衣裙夏气质收腰a字裙中长款欧根纱裙子</span> -->
                    </div>
                    <div class="mes-price">
                            <!-- <div class="price-left">
                                <span>￥249</span>
                                <del>￥1199</del>
                                <span>2.1折</span>
                            </div>
                            <div class="price-right">v
                                <p>最后疯抢</p>
                                <div class="progress-bar">
                                    <div></div> 
                                </div>
                                <span>已抢 <i>87%</i> </span>                 
                            </div> -->
                    </div>

                    <div class="address">
                           <div class="one">
                            <em>配送</em> <input type="text">
                           </div>
                           <div class="two">
                            <em>运费</em> <span>新会员专享首单满38元免邮（限唯品自营商品，部分商品不可用）</span><br>
                           </div>
                          <div class="three">
                          
                          </div>
                         <div class="four">
                            <em>尺码</em> <i>S</i><i>M</i><i>L</i><br>
                         </div>
                           <div class="five">
                            <em>数量</em>  
                            <div>
                                <button class="plus">-</button>
                                <input class="many" type="text" value="1" disabled>
                                <button class="subtract">+</button>
                            </div>
                           </div>
                            <div class="six">
                                    <!-- <a href="./shopping_car.html">加入购物车</a> -->
                            </div>        
                    </div>
            </div>
    </div>

 




    @-@include('fragment.html')
    <script src="../js/swiper/js/buy.js"></script>
    <script src="../js/swiper/js/search.js"></script>
</body>
</html>