<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/clear.css">
    <link rel="stylesheet" href="../css/shoplist.css">
</head>
<body>
    QaQinclude('./public-head.html')
    
    <div class="extends container">
        <div class="_title l">
            <span>香影xiangying季末清仓...</span>
            <span>3折封顶</span>
        </div>
        <div class="collect r">
                <i>❤</i>
                <a href="javascript:;">收藏品牌</a>
                <span>(2,054,168)</span>
        </div>
        
    </div>

    <ul class="list-title container">
      
       
    </ul>

    <div class="container tab-wrap">
        <div class="tab_btn">
            更多选项
        </div>
    </div>

    <div class="pro-list-oper container">
        <ul>
            <li class="synthesize">综合</li>
            <li>销量</li>
            <li class="cheap">价格</li>
            <li class="discount">折扣</li>
            <li>
               <div class="scope ">
                    <input type="checkbox" >
                    <span>只看有货商品</span>
                    <input type="text" placeholder="￥">-
                    <input type="text" placeholder="￥">
               </div>
               <div class="aggregate">
                    <span>150</span>
                    <span>件商品</span>
                    <span class="real-time">1</span>
                    <span>/3</span>
                    <button class="perv-page"> &lt; </button>
                    <button class="next-page"> 下一页 &nbsp;&nbsp;> </button>
               </div>
            </li>
        </ul>
    </div>

    <ul class="particulars-list container">
            
            
    </ul>

    <ol class="paging">
        <li class="paging_active"> 1</li>
        <li>2</li>
        <li>3</li>
    </ol>


    @-@include('fragment.html')

            <script src="../js/swiper/js/swiper.js"></script>
            <script src="../jquery/jquery.min.js"></script>
            <script src="../js/swiper/js/index.js"></script>
            <script src="../jquery/ajax.js"></script>
            <script src="../js/swiper/js/search.js"></script>
            <script src="../js/swiper/js/shopList.js"></script>

            <!-- 
               

             -->
</body>
</html>