<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/clear.css">
    <link rel="stylesheet" href="../css/shopping_car.css">
</head>
<body>
        <div class="header-wrap">
            <header class="header container">
                    <h1>
                        <img src="https://a.vpimg2.com/upload/upimg2/slogan/cartHeader.png" alt="">
                    </h1>
                    <div class="user-wrap">
                        <div class="user">
                            <span class="phone">VIP</span>
                            <span class="quit">[退出]</span>
                            <span class="order">订单管理</span>
                            <span class="">|</span>
                            <span class="number">400-6789-888</span>
                            <span class="">|</span>
                            <span class="service">在线客服</span>
                            <span class="member">会员服务</span>
                    </div>
                    <ul class="promise">
                        <li>
                            <i class="one"></i>
                            <span>100%正品保证</span>
                        </li>
                        <li>
                            <i class="two"></i>
                            <span>七天无理由放心退</span>
                        </li>
                        <li>
                            <i class="there"></i>
                            <span>限时抢购</span>
                        </li>
                    </ul>
                    </div>
            </header>
        </div>
        <div class="schedule">
            <ul>
                <li>
                    <i class="progress1">  </i>
                    <span>查看购物袋</span>
                </li>
                
                <li><i class="p_1">  </i></li>

                <li>
                    <i class="progress2">  </i>
                    <span>确认订单信息</span>
                </li>

                <li><i class="p_2">  </i></li>

                <li>
                    <i class="progress3">  </i>
                    <span>成功提交订单</span>
                </li>

            </ul>
        </div>
        <div class="special_sale container">
                <h2>
                    特卖商品
                    <i class="hour"></i>
                    <i class="miunte"></i>
                    <i class="second"></i>
                </h2>

        </div>
        
        <div class="message">
            <div class="address">
                <span style="font-size: 18px;">配送至</span>
                <span style="font-size: 16px;font-weight: bold;margin-right: 20px;">上海市</span>
                <span style="margin-right: 20px;font-size: 16px">|</span>
                <span style="font-size:15px;color: rgb(102,102,102);">请在倒计时结束前提交订单，下单后你另有30分钟的支付时间。❓</span>
            </div>
            <div class="statistics">
                <div>唯品自营</div>
                <div>单价</div>
                <div>数量</div>
                <div>总额</div>
                <div>操作</div>
            </div>
            <div class="all_btn">
                <span class="all">全选</span>   <input class="chek-parent " type="checkbox" >
            </div>
            <div class="message_img">
                <!-- <div class="message_img2">
                    <div class="first-grid">
                    <input class="chek" type="checkbox" >
                    <img src="${item.smallImage}" alt="">
                    <div class="wrap-title">
                        <p class="img_title">
                            <span class="ziying">自营</span> |
                           <a href=""> <span> ${item.title}</span></a>
                        </p>
                       <p>
                        <span> 尺码</span> <span>${size}</span>
                       </p>
                    </div>
                </div>
                <div class="num">￥${item.price.salePrice}</div>
                <div class="geshu">
                    <div class="arithmetic">
                        <button class="jian">-</button>
                        <input type="text" value="${many}">
                        <button class="jia">+</button>
                    </div>
                </div>
                <div class="del">
                       删除
                </div>
                </div> -->
            </div>

            <div class="freight">
                <p>运费</p>
                <span>
                    唯品自营:唯品自营商品已满足新会员专享首单满38元免邮（限唯品自营商品，部分商品不可用）
                </span>
            </div>


            <div class="list_footer">

                <div class="foot_top">
                    <div class="discounts">
                        使用优惠券
                    </div>
                     <div class="sum">
                        <p style="margin-bottom: 13px;">共 <span class="cases" style="color:rgb(241,1,128);font-size: 20px !important;">0</span> 件商品 商品金额  <span class="x_price" style="margin-left: 70px;">0</span>
                        </p>
                        <p>总金额（未含运费） 
                            <span class="sum_mony" style="color:rgb(241,1,128);font-size: 15px;">0</span>
                        </p>
                     </div>
                </div>



                <div class="foot_bottom">
                    <span>请在倒计时结束前结算 ❓ </span>
                    <div>
                        立即结算 
                        <i></i>
                        <i></i>
                        <i></i>
                    </div>

                </div>
            </div>


            <div class="prove">
                  <div></div>
                  <div></div>
                  <div></div>
            </div>
        </div>

        <div class="footer">

            <div class="about">
                <a href="javascript:;">
                    关于我们
                </a>
                <span>|</span>
                <a href="javascript:;">
                    About us
                </a>
                <span>|</span>
                <a href="javascript:;">
                    Investor Relations
                </a>
                <span>|</span>
                <a href="javascript:;">
                    媒体报道
                </a>
                <span>|</span>
                <a href="javascript:;">
                    品牌招商
                </a>
                <span>|</span>
                <a href="javascript:;">
                    隐私条款
                </a>
                <span>|</span>
                <a href="javascript:;">
                    唯品诚聘
                </a>
                <span>|</span>
                <a href="javascript:;">
                    唯品卡
                </a>
                <span>|</span>
                <a href="javascript:;">
                    联系我们
                </a>
            </div>

            <div class="copyright">
                <p>
                    <span>
                        Copyright © 2008-2020 vip.com，All Rights Reserved  使用本网站即表示接受
                        </span>
                        <a href="https://viva.vip.com/act/supportClause-pc?wapid=vivac_802">
                            唯品会用户协议
                        </a>
                        <span>。版权所有
                        </span>
                        <a href="https://www.vip.com/">
                            广州唯品会电子商务有限公司
                        </a>
                        <br>
                        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010302111111">
                            <img src="https://a.vpimg4.com/upload/actpics/act/sp/police_icon.png" alt="">
                            粤公网安备 44010302111111号
                        </a>
                        <a href="http://www.beian.miit.gov.cn">
                            粤ICP备08114786号
                        </a>
                        <a href="https://viva.vip.com/act/actValueAddedService-pc">
                            增值业务经营许可证：粤B2-20170777 
                        </a>
                        <a href="http://qr.ccm.gov.cn/lic/4b3d4177d8ec4aef91469e36f63702fa#">
                            网络文化经营许可证：粤网文〔2018〕5030-1743号
                        </a>
                        <br>
                        <a href="https://viva.vip.com/act/actBusinessLicense-pc?wapid=vivac_813">
                            经营主体证照
                        </a>
                        <a href="https://help.vip.com/themelist.php?type=detail&id=475">
                            风险监测信息
                        </a>
                        <a href="https://viva.vip.com/act/c/actDrugInfoLicense-pc?wapid=vivac_1070">
                            互联网药品信息服务资格证书：（粤）-经营性-2018-0271
                        </a>
                        <a href="https://viva.vip.com/act/actFoodTradeLicense-pc?wapid=vivac_1131">
                            网络食品交易第三方平台备案凭证：粤B2-20170777 
                        </a>
                        <a href="https://viva.vip.com/act/actInstrumentTradeLicense-pc?wapid=vivac_1132">
                            医疗器械网络交易服务第三方平台备案凭证：（粤）网械平台备字[2019]第00001号
                        </a>
                </p>
            </div>

            <div class="footer-last">
                <p>
                    <a href="https://online.unionpay.com/">
                    <i></i>
                    </a>
                    <a href="https://weiquan.vip.com">
                       <i></i>
                    </a>
                    <a href="https://www.12377.cn/">
                        <i></i>
                    </a>
                    <a href="https://www.weibo.com/u/2931161010?topnav=1&wvr=6&topsug=1&is_hot=">
                       <i></i>
                    </a>
                    <a href="https://credit.cecdc.com/CX20160725023666090470.html">
                            <i></i>
                    </a> 
                   <a href="https://ss.knet.cn/verifyseal.dll?sn=2011022400100006603&ct=df&a=1&pa=0.5265976136604793">
                       <i></i>
                    </a>
                    <a href="https://ss.knet.cn/verifyseal.dll?sn=2011022400100006603&ct=df&a=1&pa=0.5265976136604793">
                        <i></i>
                     </a>
                </p>
            </div>
    </div>

    <script src="../js/swiper/js/shopping_car.js"></script>
</body>
</html>